@media screen and (max-width: 1440px){    /*DESCTOP*/

  .offers-menu{
    font-size: 30px;
    padding-top: 30px;
  }
  .offers-menu-left{
    span{
      margin-right: 30px;
    }
  }



}

@media screen and (max-width: 1199px) {    /*LAPTOP*/

  .offers-menu{
    font-size: 26px;
  }

}

@media screen and (max-width: 999px) {      /*TABLET*/

  .offers-menu{
    font-size: 22px;
  }

  .offers-menu-left{
    span{
      margin-right: 15px;
    }
  }

  .offers-menu-right {
    width: auto;
  }

  .offers-control{
    &.left img{
      margin-right: 20px;
    }
  }

}

@media screen and (max-width: 767px) {    /*WIDEPHONES*/

  .offers-menu{
    font-size: 20px;
  }

  .offers-menu-left{
    span{
      margin-right: 10px;
    }
  }

  .offers-control{
    img{
      width: 30px;
    }
    &.left img{
      margin-right: 15px;
    }
  }

}

@media screen and (min-width: 300px) and (max-width: 599px) {      /*MOBILE*/

  .offers-menu{
    font-size: 18px;
    display: block;
  }

  .offers-menu-left{
    width: 100%;
    span{
      margin: 0 0 10px;
      &:hover, &.active{
        border-width: 1px;
      }
      &:after{
        display: block;
        content: '';
      }
    }
  }

  .offers-menu-right{
    text-align: right;
  }

}
